[project]
name = "online-shop"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "django>=6.0",
    "djlint>=1.36.4",
    "pillow>=12.0.0",
]
